*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
h1,
h2,
h3,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0;
  padding: 0;
}

ul,
ol {
  list-style: none;
}

html {
  font-size: 16px;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

input,
button,
textarea,
select {
  font-family: inherit;
  font-size: inherit;
}

body {
  font-family: Arial, sans-serif;
}

button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

html,
body,
div,
article,
section,
main,
nav,
aside,
header,
footer {
  display: block;
}

@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes pulse {
  25% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
  }
}
@keyframes fadeInSemiCircle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes jumpUp {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-200%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
@keyframes jumpDown {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(200%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
body {
  background-color: #fff;
}
body .btn {
  margin-top: 20px;
  display: inline-block;
  padding: 10px 20px;
  background-color: #fffb00;
  color: #333;
  border: none;
  border-radius: 5px;
  text-decoration: none;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;
}
body .btn.start-creating {
  display: flex;
  justify-content: center;
  align-items: center;
  text-transform: uppercase;
  width: 200px;
  color: #000;
  padding: 15px 20px;
  border-radius: 8px;
  font-size: 1.2rem;
}
body .btn.start-creating.main {
  position: absolute;
  top: 700px;
  left: 50%;
  width: 280px;
  height: 70px;
  font-size: 1.5rem;
  font-weight: 700;
  letter-spacing: 5px;
  transform: translateX(-50%);
}
@media (max-width: 768px) {
  body .btn.start-creating.main {
    top: 250px;
    width: 200px;
    height: 60px;
    font-size: 1.2rem;
    letter-spacing: 3px;
  }
}
body .btn.start-creating i {
  font-size: 1.5rem;
  margin-left: 20px;
  color: #2271a5;
}
body .btn:hover {
  background-color: #ffe600;
}
body h2 {
  color: #2271a5;
  text-transform: uppercase;
}
body .swal2-container .swal2-title {
  font-size: 1.5rem;
  color: #2271a5;
  text-transform: uppercase;
}
body .swal2-container .alert-text {
  text-align: left;
  padding: 0 10px;
}
body .swal2-container .alert-email-input,
body .swal2-container .alert-description-input {
  margin: 20px;
  width: 300px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 5px;
  font-size: 0.9rem;
}
@media (max-width: 400px) {
  body .swal2-container .alert-email-input,
  body .swal2-container .alert-description-input {
    width: 220px;
  }
}
@media (max-width: 300px) {
  body .swal2-container .alert-email-input,
  body .swal2-container .alert-description-input {
    width: auto;
  }
}
body .swal2-container .alert-email-input:hover,
body .swal2-container .alert-description-input:hover {
  border-color: #3498db;
}
body .swal2-container .alert-email-input:focus,
body .swal2-container .alert-description-input:focus {
  outline: none;
  background-color: rgba(52, 152, 219, 0.5215686275);
}
body .swal2-container .alert-email-input::-moz-placeholder, body .swal2-container .alert-description-input::-moz-placeholder {
  font-size: 0.9rem;
  color: #333;
}
body .swal2-container .alert-email-input::placeholder,
body .swal2-container .alert-description-input::placeholder {
  font-size: 0.9rem;
  color: #333;
}
body .swal2-container .alert-description-input {
  height: 100px;
}
body .swal2-container i {
  color: #2271a5;
}
body .swal2-container button {
  background-color: #042b4d;
  transition: all 0.3s ease;
}
body .swal2-container button:hover {
  background-color: #2271a5;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 20px 80px;
  z-index: 1001;
  background-color: #fff;
}
@media (max-width: 1024px) {
  .header {
    padding: 20px 30px;
  }
}
.header.fixed {
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 0 4px 8px rgba(98, 98, 98, 0.8);
  background-color: #042b4d;
  padding: 10px 80px;
  transition: all 0.3s ease;
}
@media (max-width: 1024px) {
  .header.fixed {
    padding: 10px 30px;
  }
}
.header.fixed .nav a {
  color: #fff;
}
.header.fixed .logo-container a {
  color: #fff;
}
.header.fixed .burger {
  top: 10px !important;
}
.header .logo-container {
  display: flex;
  font-size: 22px;
  line-height: 50px;
  align-items: center;
}
.header .logo-container a {
  display: flex;
  font-weight: 700;
  color: #000;
  -webkit-text-decoration: underline 3px #2271a5;
          text-decoration: underline 3px #2271a5;
  font-style: italic;
}
.header .logo-container a .logo {
  width: 50px;
  height: 45px;
  margin-right: 10px;
}
.header .nav {
  display: flex;
  align-items: center;
  gap: 10px;
}
.header .nav a {
  color: #042b4d;
  text-transform: uppercase;
  font-size: 0.9rem;
  font-weight: 700;
  padding: 10px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.header .nav a:hover {
  color: #fff;
  background-color: #2271a5;
}
.header .nav .burger {
  display: none;
  flex-direction: column;
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 30px;
  padding: 10px;
  border-radius: 50%;
  background-color: #2271a5;
}
.header .nav .burger span {
  background-color: #fff;
  height: 4px;
  width: 30px;
  margin: 3px 0;
  border-radius: 5px;
  transition: all 0.3s ease;
}

@media (max-width: 768px) {
  .header .nav {
    flex-direction: column;
    z-index: 1000;
  }
  .header .nav li {
    display: none;
  }
  .header .nav.active {
    position: absolute;
    top: 0;
    right: 0;
    padding: 80px 20px;
    width: 100%;
    max-width: 300px;
    border-radius: 0 0 0 10px;
    background-color: #2271a5;
    animation: slideIn 1s forwards;
    gap: 30px;
  }
  .header .nav.active li {
    display: block;
  }
  .header .nav.active li a {
    color: #fff;
  }
  .header .nav.active li a:hover {
    color: #a3b6cd;
  }
  .header .nav .burger {
    display: flex;
  }
  .header .nav .burger.active span {
    background-color: #fff;
  }
  .header .nav .burger:hover span {
    background-color: #a3b6cd;
  }
  .header .nav .burger.active span:nth-child(2) {
    opacity: 0;
  }
  .header .nav .burger.active span:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
  }
  .header .nav .burger.active span:nth-child(3) {
    transform: rotate(45deg) translate(-8px, -10px);
  }
}
footer {
  width: 100%;
  background-color: #042b4d;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer .footer-container {
  width: 100%;
  max-width: 1360px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4rem 1rem;
}
@media (max-width: 768px) {
  footer .footer-container {
    flex-direction: column;
    padding: 4rem 1rem 2rem 1rem;
  }
}
footer .footer-container .footer-column {
  width: 300px;
}
footer .footer-container .footer-column.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  footer .footer-container .footer-column.center {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin: 0px auto 10px auto;
  }
  footer .footer-container .footer-column.center .btn {
    padding: 10px;
    width: 150px;
    font-size: 1rem;
  }
}
footer .footer-container .footer-column.right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
@media (max-width: 768px) {
  footer .footer-container .footer-column.right {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  footer .footer-container .footer-column.right i {
    padding-left: 0px;
  }
}
footer .footer-container .footer-nav__links {
  display: flex;
  flex-direction: column;
}
footer .footer-container .footer-nav__links a {
  color: #fff;
  text-transform: uppercase;
  font-size: 0.9rem;
  transition: all 0.3s ease;
}
footer .footer-container .footer-nav__links a:hover {
  color: #2271a5;
}
footer .footer-container .social-media i {
  font-size: 1.5rem;
  padding: 1.1rem;
  color: #fff;
  transition: all 0.3s ease;
}
footer .footer-container .social-media i:hover {
  color: #2271a5;
}
footer hr {
  width: 80%;
}
footer .copyright p {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px auto;
  color: #fff;
}
footer .copyright a {
  padding: 0 5px;
  color: #fffb00;
  transition: all 0.3s ease;
}
footer .copyright a:hover {
  color: #2271a5;
}

.hero {
  line-height: 0;
}
.hero__img {
  width: 100%;
  height: calc(100vh - 90px);
  min-height: 800px;
  opacity: 0.5;
  -o-object-fit: cover;
     object-fit: cover;
}
.hero .animation-container {
  position: absolute;
  top: 40%;
  left: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
}
@media (max-width: 768px) {
  .hero .animation-container {
    top: 50%;
  }
}
.hero .animation-container .typing-animation {
  display: inline-block;
  overflow: hidden;
  line-height: 1.5;
}
.hero .animation-container .animated-text {
  font-size: 10rem;
  font-weight: bold;
  color: #2e15b8;
  white-space: nowrap;
  overflow: hidden;
}
@media (max-width: 1400px) {
  .hero .animation-container .animated-text {
    font-size: 8rem;
  }
}
@media (max-width: 1120px) {
  .hero .animation-container .animated-text {
    font-size: 6rem;
  }
}
@media (max-width: 900px) {
  .hero .animation-container .animated-text {
    font-size: 5rem;
  }
}
@media (max-width: 768px) {
  .hero .animation-container .animated-text {
    font-size: 3rem;
  }
}
@media (max-width: 400px) {
  .hero .animation-container .animated-text {
    font-size: 2.2rem;
  }
}

.main-description {
  background-color: #2271a5;
}
.main-description__content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  line-height: 2rem;
  padding: 2rem 5rem 2rem 2rem;
}
@media (max-width: 1080px) {
  .main-description__content {
    padding: 2rem;
  }
}
.main-description__content h2 {
  font-size: 1.5rem;
  text-align: center;
  line-height: 1.5;
  color: #fff;
}
.main-description__content p {
  font-size: 1rem;
  line-height: 2rem;
}
@media (max-width: 768px) {
  .main-description__content p {
    font-size: 0.9rem;
    line-height: 1.7rem;
  }
}
.main-description__animation {
  position: relative;
  z-index: 0;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 80vh;
  overflow: hidden;
}
@media (max-width: 1080px) {
  .main-description__animation {
    flex-direction: column;
  }
}
@media (max-width: 769px) {
  .main-description__animation {
    height: auto;
  }
}
.main-description .pulse {
  z-index: -1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 30rem;
}
.main-description .pulse circle {
  fill: #c91a95;
  transform: scale(0);
  opacity: 0;
  transform-origin: 50% 50%;
  animation: pulse 4s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}
.main-description .pulse circle:nth-child(2) {
  fill: #36b308;
  animation: pulse 4s 0.75s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}
.main-description .pulse circle:nth-child(3) {
  fill: #f8a407;
  animation: pulse 4s 1.5s cubic-bezier(0.5, 0.5, 0, 1) infinite;
}
.main-description__illustration {
  width: 400%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.main-description__illustration img {
  width: 100%;
  max-width: 800px;
  height: auto;
}
@media (max-width: 1700px) {
  .main-description__illustration img {
    width: 550px;
    height: 340px;
  }
}
@media (max-width: 1400px) {
  .main-description__illustration img {
    width: 450px;
    height: 260px;
  }
}
@media (max-width: 1280px) {
  .main-description__illustration img {
    padding: 1rem;
  }
}
@media (max-width: 500px) {
  .main-description__illustration img {
    width: 300px;
    height: 180px;
  }
}
.main-description .semi-circle {
  position: absolute;
  right: -50%;
  top: -50%;
  width: 100vw;
  height: 100vw;
  background-color: #fff;
  border-radius: 100%;
  z-index: -1;
  animation: fadeInSemiCircle 2s ease-in-out;
}
@media (max-width: 1700px) {
  .main-description .semi-circle {
    right: -55%;
  }
}
@media (max-width: 1280px) {
  .main-description .semi-circle {
    display: none;
  }
}

.services {
  margin: 20px 100px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  background-color: #fff;
  padding: 80px 100px;
}
@media (max-width: 1700px) {
  .services {
    padding: 40px 10px;
  }
}
@media (max-width: 992px) {
  .services {
    grid-template-columns: 1fr;
    padding: 30px;
    margin: 5px;
  }
}
@media (max-width: 460px) {
  .services {
    grid-template-columns: 1fr;
    padding: 30px 5px;
    margin: 5px;
  }
}
.services__column {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.services__column h2 {
  text-align: center;
}
.services__column ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-left: 30px;
}
.services__column ul li {
  position: relative;
  padding-left: 20px;
  margin-bottom: 10px;
  list-style-type: circle;
  font-size: 18px;
  color: #000;
  transition: all 0.3s ease;
}
@media (max-width: 769px) {
  .services__column ul li {
    padding-left: 0px;
  }
}
.services__column ul li a {
  color: #000;
  transition: all 0.3s ease;
}
.services__column ul li a:hover {
  color: #2271a5;
}
.services__column ul li:hover {
  cursor: pointer;
  color: #2271a5;
  transform: translateX(10px);
}
.services__column .technologies {
  text-align: center;
  color: #000;
}
.services__column .technologies .technology {
  background-color: #333;
  border: 5px solid #fffb00;
  box-shadow: 2px 3px #ffe600;
  border-radius: 10px;
  color: #fff;
  padding: 10px 25px;
  margin: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 18px;
  font-weight: 500;
  transition: box-shadow 0.5s ease;
}
@media (max-width: 1500px) {
  .services__column .technologies .technology {
    margin: 10px;
  }
}
@media (max-width: 1360px) {
  .services__column .technologies .technology {
    font-size: 1rem;
    padding: 10px 15px;
  }
}
.services__column .technologies .technology:hover {
  transform: translateY(-3px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

.projects {
  text-align: center;
  padding: 20px 150px;
  color: #000;
  line-height: 40px;
}
@media (max-width: 769px) {
  .projects {
    padding: 10px;
  }
}
.projects h2 {
  margin-bottom: 10px;
}
.projects p {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .projects p {
    line-height: 1.7rem;
  }
}
.projects .swiper {
  width: 100%;
  height: 100%;
  padding: 20px 0;
}
.projects .swiper .swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  border-radius: 6px;
  text-align: center;
  font-size: 18px;
  color: #fff;
}
.projects .swiper .swiper-slide a {
  width: 100%;
  height: 100%;
  transition: all 0.5s ease;
}
.projects .swiper .swiper-slide a img {
  display: block;
  margin: 0 auto;
  width: 100%;
  max-width: 500px;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 6px;
}
.projects .swiper .swiper-slide a:hover {
  opacity: 0.8;
}
.projects .swiper .swiper-button-next,
.projects .swiper .swiper-button-prev {
  width: 50px;
  font-weight: 900;
}
.projects .portpholio-btn {
  background-color: #042b4d;
  color: #fff;
  text-transform: uppercase;
  padding: 15px 20px;
}
.projects .portpholio-btn:hover {
  background-color: #2271a5;
}
.projects .portpholio-btn i {
  padding-left: 10px;
  color: #fff;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 120px 20px 90px 20px;
}
.contact img {
  position: absolute;
  width: 100%;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
  z-index: -1;
  opacity: 0.5;
}
@media (max-width: 769px) {
  .contact {
    flex-direction: column;
    padding-bottom: 80px;
  }
  .contact img {
    height: 1200px;
  }
}
.contact .social-media {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 18px;
  color: #000;
}
.contact .social-media__links__list {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  gap: 10px;
  margin-top: 30px;
}
.contact .social-media .social-icon i {
  margin: 0px 15px 0px -20px;
}
.contact .contact-form,
.contact .social-media {
  display: flex;
  justify-content: top;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.7333333333);
  border-radius: 15px;
  padding: 20px;
  width: 350px;
  height: 500px;
  margin: 10px;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);
}
@media (max-width: 400px) {
  .contact .contact-form,
  .contact .social-media {
    width: 100%;
    margin: 10px 2px;
  }
}
.contact .contact-form h2,
.contact .social-media h2 {
  margin-bottom: 10px;
  font-size: 1.5rem;
}
.contact .contact-form .envelope,
.contact .social-media .envelope {
  position: relative;
  cursor: pointer;
  margin-bottom: 50px;
}
.contact .contact-form .envelope .back,
.contact .social-media .envelope .back {
  position: relative;
  width: 250px;
  height: 200px;
  background-color: #2271a5;
}
.contact .contact-form .envelope .letter,
.contact .social-media .envelope .letter {
  position: absolute;
  background-color: #fff;
  width: 230px;
  height: 180px;
  top: 10px;
  left: 10px;
  transition: 0.2s;
}
.contact .contact-form .envelope .letter:before,
.contact .social-media .envelope .letter:before {
  position: absolute;
  content: "";
  background-color: #333;
  width: 80px;
  height: 80px;
  top: 75px;
  left: 75px;
}
.contact .contact-form .envelope .letter:after,
.contact .social-media .envelope .letter:after {
  position: absolute;
  content: "";
  width: 30px;
  height: 30px;
  background-color: #fff;
  top: 82px;
  left: 82px;
  box-shadow: 36px 0 #fff, 36px 36px #fff, 0px 36px #fff;
}
.contact .contact-form .envelope .text,
.contact .social-media .envelope .text {
  text-align: center;
  font-size: 17px;
  margin-top: 20px;
  font-weight: bold;
}
.contact .contact-form .envelope .text:before, .contact .contact-form .envelope .text:after,
.contact .social-media .envelope .text:before,
.contact .social-media .envelope .text:after {
  content: "";
  position: absolute;
  width: 5px;
  border-radius: 10px;
  background-color: #333;
  height: 20px;
  top: 60px;
}
.contact .contact-form .envelope .text:before,
.contact .social-media .envelope .text:before {
  left: 108px;
  transform: rotate(-25deg);
}
.contact .contact-form .envelope .text:after,
.contact .social-media .envelope .text:after {
  left: 118px;
  transform: rotate(25deg);
}
.contact .contact-form .envelope .front,
.contact .social-media .envelope .front {
  position: absolute;
  border-right: 130px solid #0055ff;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  height: 0;
  width: 0;
  top: 0;
  left: 120px;
  z-index: 3;
}
.contact .contact-form .envelope .front:before,
.contact .social-media .envelope .front:before {
  content: "";
  position: absolute;
  border-left: 130px solid #0055ff;
  border-top: 100px solid transparent;
  border-bottom: 100px solid transparent;
  height: 0;
  width: 0;
  top: -100px;
  left: -120px;
}
.contact .contact-form .envelope .front:after,
.contact .social-media .envelope .front:after {
  content: "";
  position: absolute;
  border-bottom: 105px solid #0055ff;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  height: 0;
  width: 0;
  top: -5px;
  left: -120px;
}
.contact .contact-form .envelope .top,
.contact .social-media .envelope .top {
  position: absolute;
  border-top: 105px solid #266fff;
  border-left: 125px solid transparent;
  border-right: 125px solid transparent;
  height: 0;
  width: 0;
  top: 0;
  transform-origin: top;
  transition: 0.4s;
}
.contact .contact-form .envelope .shadow,
.contact .social-media .envelope .shadow {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  width: 250px;
  height: 10px;
  top: 220px;
  border-radius: 50%;
}
.contact .contact-form .envelope:hover .top,
.contact .social-media .envelope:hover .top {
  transform: rotateX(160deg);
}
.contact .contact-form .envelope:hover .letter,
.contact .social-media .envelope:hover .letter {
  transform: translateY(-100px);
  z-index: 2;
}
.contact .contact-form form,
.contact .social-media form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .contact-form form .input-container,
.contact .social-media form .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.contact .contact-form form .input-container label,
.contact .social-media form .input-container label {
  font-weight: 500;
  padding-top: 10px;
  width: 100%;
  text-align: left;
}
.contact .contact-form form .input-container input,
.contact .contact-form form .input-container textarea,
.contact .social-media form .input-container input,
.contact .social-media form .input-container textarea {
  width: 220px;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  transition: all 0.3s ease;
  padding: 5px;
}
.contact .contact-form form .input-container input:hover,
.contact .contact-form form .input-container textarea:hover,
.contact .social-media form .input-container input:hover,
.contact .social-media form .input-container textarea:hover {
  border-color: #3498db;
}
.contact .contact-form form .input-container input:focus,
.contact .contact-form form .input-container textarea:focus,
.contact .social-media form .input-container input:focus,
.contact .social-media form .input-container textarea:focus {
  outline: none;
  background-color: rgba(52, 152, 219, 0.5215686275);
}
.contact .contact-form form .input-container textarea,
.contact .social-media form .input-container textarea {
  height: 80px;
  margin-bottom: 20px;
}
.contact .contact-form form button,
.contact .social-media form button {
  background-color: #042b4d;
  color: #fff;
  border: none;
  text-transform: uppercase;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}
.contact .contact-form form button:hover,
.contact .social-media form button:hover {
  background-color: #2271a5;
}

.about-content {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 1360px;
  margin: 0 auto;
  flex-direction: column;
}
.about-content h1 {
  color: #2271a5;
  text-transform: uppercase;
}
.about-content h2 {
  margin-bottom: 10px;
}
@media (max-width: 768px) {
  .about-content h2 {
    font-size: 1.3rem;
  }
}
.about-content h3 {
  text-transform: uppercase;
  color: #c91a95;
  text-align: center;
}
@media (max-width: 768px) {
  .about-content h3 {
    padding: 0 10px;
    font-size: 1.1rem;
  }
}
.about-content hr {
  background-color: #f8a407;
  width: 15%;
  height: 4px;
  border: none;
}
.about-content hr:first-of-type {
  background-color: #36b308;
  width: 20%;
}
@media (max-width: 500px) {
  .about-content hr:first-of-type {
    width: 40%;
  }
}
@media (max-width: 500px) {
  .about-content hr {
    width: 30%;
  }
}
.about-content hr:last-of-type {
  background-color: #ffe600;
  width: 10%;
}
@media (max-width: 500px) {
  .about-content hr:last-of-type {
    width: 20%;
  }
}
.about-content section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
@media (max-width: 1080px) {
  .about-content section {
    flex-direction: column;
    padding: 30px 20px;
  }
}
.about-content .comprehensiveness__text p {
  margin-right: 40px;
}
@media (max-width: 1080px) {
  .about-content .comprehensiveness__text p {
    margin-right: 0px;
  }
}
.about-content .comprehensiveness__text__list {
  margin-top: 10px;
}
.about-content .comprehensiveness__text__list li {
  margin: 5px 20px;
  list-style-type: disc;
  color: #c91a95;
  transition: all 0.5s ease;
  font-weight: 700;
}
.about-content .comprehensiveness__text__list li:hover {
  color: #2271a5;
}
.about-content .comprehensiveness__text__list li a {
  color: #c91a95;
  transition: all 0.5s ease;
}
.about-content .comprehensiveness__text__list li a:hover {
  color: #2271a5;
}
.about-content .comprehensiveness__img {
  height: 350px;
}
@media (max-width: 768px) {
  .about-content .comprehensiveness__img {
    margin-top: 20px;
    max-width: 100%;
    height: auto;
  }
}
@media (max-width: 1080px) {
  .about-content .philosophy {
    flex-direction: column-reverse;
  }
}
.about-content .philosophy__text {
  margin-left: 40px;
}
@media (max-width: 1080px) {
  .about-content .philosophy__text {
    margin-left: 0px;
  }
}
.about-content .philosophy__img {
  height: 550px;
}
@media (max-width: 768px) {
  .about-content .philosophy__img {
    height: auto;
    max-width: 100%;
  }
}

.service {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 1360px;
  margin: 0px auto;
}
@media (max-width: 1360px) {
  .service {
    padding: 0px 20px;
  }
}
@media (max-width: 768px) {
  .service {
    padding: 0px 10px;
  }
}
.service .service__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 1080px) {
  .service .service__content {
    flex-direction: column;
  }
}
.service .service__content ul {
  list-style: none;
  text-align: left;
  padding: 0px 20px;
}
@media (max-width: 1080px) {
  .service .service__content ul {
    margin-bottom: 40px;
  }
}
.service .service__content ul li {
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 10px;
  transition: all 0.3s ease;
}
.service .service__content ul li h3 {
  color: #2271a5;
  font-size: 1.2rem;
}
.service .service__content ul li h3 a span {
  background-color: #2271a5;
  color: #fff;
  border-radius: 50%;
  padding: 0px 7px 5px 7px;
  font-weight: 900;
  transition: all 0.5s ease;
  cursor: pointer;
}
.service .service__content ul li h3 a span:hover {
  background-color: #ffe600;
  color: #2271a5;
}
.service .service__content ul li p {
  font-size: 1rem;
  font-weight: 500;
}
.service .service__content__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
@media (max-width: 1080px) {
  .service .service__content__img {
    padding: 80px 20px;
  }
}
.service .service__content__img .circles {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
.service .service__content__img .circles .circle {
  width: 50px;
  height: 50px;
  background-color: #36b308;
  border-radius: 50%;
  animation: jumpUp 3s 0ms ease infinite;
}
.service .service__content__img .circles .circle.c-2 {
  background-color: #f8a407;
  animation: jumpUp 3s 0.2s ease infinite;
}
.service .service__content__img .circles .circle.c-3 {
  background-color: #ffe600;
  animation: jumpUp 3s 0.4s ease infinite;
}
.service .service__content__img .circles .circle.c-4 {
  background-color: #c91a95;
  animation: jumpDown 3s 0ms ease infinite;
}
.service .service__content__img .circles .circle.c-5 {
  background-color: #2e15b8;
  animation: jumpDown 3s 0.2s ease infinite;
}
.service .service__content__img .circles .circle.c-6 {
  background-color: #2271a5;
  animation: jumpDown 3s 0.4s ease infinite;
}
.service .service__content__img img {
  height: 300px;
}
@media (max-width: 1360px) {
  .service .service__content__img img {
    height: 200px;
  }
}
@media (max-width: 1080px) {
  .service .service__content__img img {
    height: auto;
    max-height: 300px;
    max-width: 100%;
  }
}
.service .plans {
  margin: 0 auto;
  padding: 60px 20px;
}
@media (max-width: 420px) {
  .service .plans {
    padding: 60px 10px;
  }
}
.service .plans h3 {
  color: #c91a95;
}
.service .plans__cards {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
}
@media (max-width: 1280px) {
  .service .plans__cards {
    flex-wrap: wrap;
    gap: 30px;
  }
}
.service .plans__cards__card {
  width: 330px;
  height: 550px;
  background-color: #042b4d;
  padding: 10px;
  border-radius: 10px;
}
@media (max-width: 400px) {
  .service .plans__cards__card {
    width: 300px;
  }
}
.service .plans__cards__card__content {
  border: 1px solid #fff;
  border-radius: 10px;
  padding: 15px;
  padding-bottom: 20px;
}
.service .plans__cards__card__content h4 {
  color: #fffb00;
  text-transform: uppercase;
}
.service .plans__cards__card__content p {
  text-align: left;
  height: 100px;
  color: #fff;
  font-size: 0.9rem;
}
.service .plans__cards__card__content p:last-of-type {
  height: auto;
  text-align: center;
}
.service .plans__cards__card__content p i {
  color: #fffb00;
  font-size: 1.2rem;
  padding-right: 5px;
}
.service .plans__cards__card__content span {
  color: #fff;
  display: block;
  font-size: 2rem;
  color: #ffe600;
}

.portfolio {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.portfolio h3 {
  text-transform: uppercase;
  color: #c91a95;
  text-align: center;
  padding: 10px;
}
.portfolio__projects {
  width: 100%;
  max-width: 1360px;
  margin-top: 20px;
  margin-bottom: 40px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  place-items: center;
  gap: 20px;
  row-gap: 40px;
}
@media (max-width: 1360px) {
  .portfolio__projects {
    grid-template-columns: 1fr 1fr;
  }
}
@media (max-width: 900px) {
  .portfolio__projects {
    grid-template-columns: 1fr;
  }
}
.portfolio__projects .project {
  width: 400px;
  height: 200px;
  position: relative;
}
@media (max-width: 500px) {
  .portfolio__projects .project {
    width: 350px;
  }
}
@media (max-width: 400px) {
  .portfolio__projects .project {
    width: 90%;
  }
}
.portfolio__projects .project a {
  width: 100%;
  height: 200px;
  position: absolute;
  top: 0px;
  left: 0px;
}
.portfolio__projects .project a .project-layout {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: rgba(4, 43, 77, 0.8);
  z-index: 100;
  text-align: center;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease, visibility 0.5s ease;
}
.portfolio__projects .project a .project-layout p {
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px;
  color: #fff;
  font-size: 1.2rem;
  text-transform: uppercase;
}
.portfolio__projects .project a .project-layout p i {
  margin-right: 10px;
}
.portfolio__projects .project a:hover .project-layout {
  opacity: 1;
  visibility: visible;
}
.portfolio__projects .project a img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
}/*# sourceMappingURL=global.css.map */