@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}

@keyframes pulse {
  25% {
    opacity: 0.4;
  }
  100% {
    transform: scale(1);
  }
}

@keyframes fadeInSemiCircle {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes jumpUp {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(-200%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}

@keyframes jumpDown {
  0% {
    transform: translateY(0%);
  }
  25% {
    transform: translateY(200%);
  }
  50% {
    transform: translateY(0%);
  }
  75% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
