@mixin display_flex($x: center, $y: center) {
  display: flex;
  justify-content: $x;
  align-items: $y;
}

@mixin disply_grid($x: 2, $y: 1fr) {
  display: grid;
  grid-template-columns: repeat($x, $y);
}
