$primary-color: #2271a5;
$yellowColor: #fffb00;
$yellowHoverColor: #ffe600;
$darkBlueColor: #042b4d;
$lightHoverColor: #a3b6cd;
$purpleColor: #2e15b8;
$darkGrayColor: #333;
$whiteColor: #fff;
$blackColor: #000;

$section-margin: 20px 100px;
