.hero {
  line-height: 0;

  &__img {
    width: 100%;
    height: calc(100vh - 90px);
    min-height: 800px;
    opacity: 0.5;
    object-fit: cover;
  }

  .animation-container {
    position: absolute;
    top: 40%;
    left: 10%;
    @include display_flex();
    flex-direction: column;
    overflow: hidden;

    @media (max-width: 768px) {
      top: 50%;
    }

    .typing-animation {
      display: inline-block;
      overflow: hidden;
      line-height: 1.5;
    }

    .animated-text {
      font-size: 10rem;
      font-weight: bold;
      color: $purpleColor;
      white-space: nowrap;
      overflow: hidden;

      @media (max-width: 1400px) {
        font-size: 8rem;
      }

      @media (max-width: 1120px) {
        font-size: 6rem;
      }

      @media (max-width: 900px) {
        font-size: 5rem;
      }

      @media (max-width: 768px) {
        font-size: 3rem;
      }

      @media (max-width: 400px) {
        font-size: 2.2rem;
      }
    }
  }
}

.main-description {
  background-color: $primary-color;

  &__content {
    @include display_flex();
    flex-direction: column;
    color: $whiteColor;
    line-height: 2rem;
    padding: 2rem 5rem 2rem 2rem;

    @media (max-width: 1080px) {
      padding: 2rem;
    }

    h2 {
      font-size: 1.5rem;
      text-align: center;
      line-height: 1.5;
      color: $whiteColor;
    }

    p {
      font-size: 1rem;
      line-height: 2rem;

      @media (max-width: 768px) {
        font-size: 0.9rem;
        line-height: 1.7rem;
      }
    }
  }

  &__animation {
    position: relative;
    z-index: 0;
    background-color: transparent;
    @include display_flex();
    width: 100%;
    min-height: 80vh;
    overflow: hidden;

    @media (max-width: 1080px) {
      flex-direction: column;
    }

    @media (max-width: 769px) {
      height: auto;
    }
  }

  .pulse {
    z-index: -1;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 30rem;

    circle {
      fill: #ff5154;
      transform: scale(0);
      opacity: 0;
      transform-origin: 50% 50%;
      animation: pulse 4s cubic-bezier(0.5, 0.5, 0, 1) infinite;

      &:nth-child(2) {
        fill: #7fc6a4;
        animation: pulse 4s 0.75s cubic-bezier(0.5, 0.5, 0, 1) infinite;
      }

      &:nth-child(3) {
        fill: #e5f77d;
        animation: pulse 4s 1.5s cubic-bezier(0.5, 0.5, 0, 1) infinite;
      }
    }
  }

  &__illustration {
    width: 400%;
    @include display_flex();

    img {
      width: 100%;
      max-width: 800px;
      height: auto;

      @media (max-width: 1700px) {
        width: 550px;
        height: 340px;
      }

      @media (max-width: 1400px) {
        width: 450px;
        height: 260px;
      }

      @media (max-width: 1280px) {
        padding: 1rem;
      }

      @media (max-width: 500px) {
        width: 300px;
        height: 180px;
      }
    }
  }

  .semi-circle {
    position: absolute;
    right: -50%;
    top: -50%;
    width: 100vw;
    height: 100vw;
    background-color: $whiteColor;
    border-radius: 100%;
    z-index: -1;
    animation: fadeInSemiCircle 2s ease-in-out;

    @media (max-width: 1700px) {
      right: -55%;
    }

    @media (max-width: 1280px) {
      display: none;
    }
  }
}

.services {
  margin: $section-margin;
  @include disply_grid();
  gap: 20px;
  background-color: $whiteColor;
  padding: 80px 100px;

  @media (max-width: 1700px) {
    padding: 40px 10px;
  }

  @media (max-width: 992px) {
    grid-template-columns: 1fr;
    padding: 30px;
    margin: 5px;
  }

  @media (max-width: 460px) {
    grid-template-columns: 1fr;
    padding: 30px 5px;
    margin: 5px;
  }

  &__column {
    @include display_flex();
    flex-direction: column;

    h2 {
      text-align: center;
    }

    ul {
      list-style-type: none;
      padding: 0;
      margin: 0;
      margin-left: 30px;

      li {
        position: relative;
        padding-left: 20px;
        margin-bottom: 10px;
        list-style-type: circle;
        font-size: 18px;
        color: $blackColor;
        transition: all 0.3s ease;

        @media (max-width: 769px) {
          padding-left: 0px;
        }

        a {
          color: $blackColor;
          transition: all 0.3s ease;

          &:hover {
            color: $primary-color;
          }
        }

        &:hover {
          cursor: pointer;
          color: $primary-color;
          transform: translateX(10px);
        }
      }
    }

    .technologies {
      text-align: center;
      color: #000;

      .technology {
        background-color: $darkGrayColor;
        border: 5px solid $yellowColor;
        box-shadow: 2px 3px $yellowHoverColor;
        border-radius: 10px;
        color: $whiteColor;
        padding: 10px 25px;
        margin: 20px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        font-weight: 500;
        transition: box-shadow 0.5s ease;

        @media (max-width: 1500px) {
          margin: 10px;
        }

        @media (max-width: 1360px) {
          font-size: 1rem;
          padding: 10px 15px;
        }

        &:hover {
          transform: translateY(-3px);
          box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
        }
      }
    }
  }
}

.projects {
  text-align: center;
  padding: 20px 150px;
  color: $blackColor;
  line-height: 40px;

  @media (max-width: 769px) {
    padding: 10px;
  }

  h2 {
    margin-bottom: 10px;
  }

  p {
    margin-bottom: 10px;

    @media (max-width: 768px) {
      line-height: 1.7rem;
    }
  }

  .swiper {
    width: 100%;
    height: 100%;
    padding: 20px 0;

    .swiper-slide {
      @include display_flex();
      height: 250px;
      border-radius: 6px;
      text-align: center;
      font-size: 18px;
      color: $whiteColor;

      a {
        width: 100%;
        height: 100%;
        transition: all 0.5s ease;

        img {
          display: block;
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 6px;
        }

        &:hover {
          opacity: 0.8;
        }
      }
    }

    .swiper-button-next,
    .swiper-button-prev {
      width: 50px;
      font-weight: 900;
    }
  }

  .portpholio-btn {
    background-color: $darkBlueColor;
    color: $whiteColor;
    text-transform: uppercase;
    padding: 15px 20px;

    &:hover {
      background-color: $primary-color;
    }

    i {
      padding-left: 10px;
      color: $whiteColor;
    }
  }
}

.contact {
  img {
    position: absolute;
    width: 100%;
    height: 700px;
    object-fit: cover;
    z-index: -1;
    opacity: 0.5;
  }

  @include display_flex();
  padding: 120px 20px;

  @media (max-width: 769px) {
    flex-direction: column;

    img {
      height: 1200px;
    }
  }

  .social-media {
    @include display_flex(space-between);
    font-size: 18px;
    color: $blackColor;

    &__links {
      &__list {
        @include display_flex(center, flex-start);
        flex-direction: column;
        gap: 10px;
        margin-top: 30px;
      }
    }

    .social-icon {
      i {
        margin: 0px 15px 0px -20px;
      }
    }
  }

  .contact-form,
  .social-media {
    @include display_flex(top);
    flex-direction: column;
    background-color: $lightGrayColor;
    border-radius: 15px;
    padding: 20px;
    width: 350px;
    height: 500px;
    margin: 10px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.5);

    @media (max-width: 400px) {
      width: 100%;
      margin: 10px 2px;
    }

    h2 {
      margin-bottom: 10px;
      font-size: 1.5rem;
    }

    .envelope {
      position: relative;
      cursor: pointer;
      margin-bottom: 50px;

      .back {
        position: relative;
        width: 250px;
        height: 200px;
        background-color: $primary-color;
      }

      .letter {
        position: absolute;
        background-color: $whiteColor;
        width: 230px;
        height: 180px;
        top: 10px;
        left: 10px;
        transition: 0.2s;

        &:before {
          position: absolute;
          content: "";
          background-color: $darkGrayColor;
          width: 80px;
          height: 80px;
          top: 75px;
          left: 75px;
        }

        &:after {
          position: absolute;
          content: "";
          width: 30px;
          height: 30px;
          background-color: $whiteColor;
          top: 82px;
          left: 82px;
          box-shadow: 36px 0 $whiteColor, 36px 36px $whiteColor,
            0px 36px $whiteColor;
        }
      }

      .text {
        text-align: center;
        font-size: 17px;
        margin-top: 20px;
        font-weight: bold;

        &:before,
        &:after {
          content: "";
          position: absolute;
          width: 5px;
          border-radius: 10px;
          background-color: $darkGrayColor;
          height: 20px;
          top: 60px;
        }

        &:before {
          left: 108px;
          transform: rotate(-25deg);
        }

        &:after {
          left: 118px;
          transform: rotate(25deg);
        }
      }

      .front {
        position: absolute;
        border-right: 130px solid $lightBlueColor;
        border-top: 100px solid transparent;
        border-bottom: 100px solid transparent;
        height: 0;
        width: 0;
        top: 0;
        left: 120px;
        z-index: 3;

        &:before {
          content: "";
          position: absolute;
          border-left: 130px solid $lightBlueColor;
          border-top: 100px solid transparent;
          border-bottom: 100px solid transparent;
          height: 0;
          width: 0;
          top: -100px;
          left: -120px;
        }

        &:after {
          content: "";
          position: absolute;
          border-bottom: 105px solid $lightBlueColor;
          border-left: 125px solid transparent;
          border-right: 125px solid transparent;
          height: 0;
          width: 0;
          top: -5px;
          left: -120px;
        }
      }

      .top {
        position: absolute;
        border-top: 105px solid $lightBlueHoverColor;
        border-left: 125px solid transparent;
        border-right: 125px solid transparent;
        height: 0;
        width: 0;
        top: 0;
        transform-origin: top;
        transition: 0.4s;
      }

      .shadow {
        position: absolute;
        background-color: rgba(0, 0, 0, 0.1);
        width: 250px;
        height: 10px;
        top: 220px;
        border-radius: 50%;
      }

      &:hover {
        .top {
          transform: rotateX(160deg);
        }

        .letter {
          transform: translateY(-100px);
          z-index: 2;
        }
      }
    }

    form {
      @include display_flex();
      flex-direction: column;

      .input-container {
        @include display_flex();
        flex-direction: column;

        label {
          font-weight: 500;
          padding-top: 10px;
          width: 100%;
          text-align: left;
        }

        input,
        textarea {
          width: 220px;
          height: 40px;
          border: 1px solid $GrayBorderColor;
          border-radius: 5px;
          transition: all 0.3s ease;
          padding: 5px;

          &:hover {
            border-color: $blueBorderColor;
          }

          &:focus {
            outline: none;
            background-color: $blueInputColor;
          }
        }

        textarea {
          height: 80px;
          margin-bottom: 20px;
        }
      }

      button {
        background-color: $darkBlueColor;
        color: $whiteColor;
        border: none;
        text-transform: uppercase;
        padding: 10px 25px;
        border-radius: 5px;
        cursor: pointer;
        transition: background-color 0.3s ease;

        &:hover {
          background-color: $primary-color;
        }
      }
    }
  }
}
