body {
  background-color: $whiteColor;

  .main {
    min-height: calc(100vh - 420.5px);
  }

  .btn {
    margin-top: 20px;
    display: inline-block;
    padding: 10px 20px;
    background-color: $yellowColor;
    color: $darkGrayColor;
    border: none;
    border-radius: 5px;
    text-decoration: none;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: all 0.3s ease;

    &.start-creating {
      @include display_flex();
      text-transform: uppercase;
      width: 200px;
      color: $blackColor;
      padding: 15px 20px;
      border-radius: 8px;
      font-size: 1.2rem;

      &.main-btn {
        position: absolute;
        top: 700px;
        left: 50%;
        width: 280px;
        height: 70px;
        font-size: 1.5rem;
        font-weight: 700;
        letter-spacing: 5px;
        transform: translateX(-50%);

        @media (max-width: 768px) {
          top: 250px;
          width: 200px;
          height: 60px;
          font-size: 1.2rem;
          letter-spacing: 3px;
        }
      }

      i {
        font-size: 1.5rem;
        margin-left: 20px;
        color: $primary-color;
      }
    }

    &:hover {
      background-color: $yellowHoverColor;
    }
  }

  h2 {
    color: $primary-color;
    text-transform: uppercase;
  }

  .swal2-container {
    .swal2-title {
      font-size: 1.5rem;
      color: $primary-color;
      text-transform: uppercase;
    }

    .alert-text {
      text-align: left;
      padding: 0 10px;
    }

    .alert-email-input,
    .alert-description-input {
      margin: 20px;
      width: 300px;
      height: 40px;
      border: 1px solid $GrayBorderColor;
      border-radius: 5px;
      transition: all 0.3s ease;
      padding: 5px;
      font-size: 0.9rem;

      @media (max-width: 400px) {
        width: 220px;
      }

      @media (max-width: 300px) {
        width: auto;
      }

      &:hover {
        border-color: $blueBorderColor;
      }

      &:focus {
        outline: none;
        background-color: $blueInputColor;
      }

      &::placeholder {
        font-size: 0.9rem;
        color: $darkGrayColor;
      }
    }

    .alert-description-input {
      height: 100px;
    }

    i {
      color: $primary-color;
    }

    button {
      background-color: $darkBlueColor;
      transition: all 0.3s ease;

      &:hover {
        background-color: $primary-color;
      }
    }
  }
}
